.nav {
    font-size: 1.25rem;
    max-width: 55rem;
    margin: 0 20%;
}

.current {
    border-left-style: solid;
    border-left-width: 7px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.nav-top a {
    list-style-type: none;
    display: block;
    padding: 8px 16px;
    max-width: 1140px;
}

div {
    display: block;
}

header {
    color: #fff;
    padding: 15px 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    line-height: 0;
}

a.nav:hover,
a.nav:focus {
    
}
