
.blog {
    padding-top: 1rem;
    padding-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.blog h1 {
    text-align: center;
    font-size: 300%;
    text-shadow: 2px 2px 4px #666;
}

.blog li {
    list-style: none;
    display: block;
    border-style: solid;
    border-width: 0 0 2px 0;
}

.clear li{
    border-style: none;
}

.blog li a {
    display: block;
    color: #515151;
    text-decoration: none;
}

.post-image{
   display: block;
    margin: 0 auto;
    max-width: 800px;
}

.underline h2{
    
    border-style: solid;
    border-width: 0 0 2px 0;
}

.post h2{
    border-style: solid;
    border-width: 2px;
}

li {
    display: block;
}

.meta {
    font-size: 80%;
}

.date {
    color: gray;
    font-weight: 300;
    font-size: .8em;
}


html,
body {
    margin: 0;
    padding: 0;
}


html {
    font-size: 20px;
}


body {
    color: #515151;
    background-color: #fff;
}

a {
    color: #268bd2;
    text-decoration: none;
}

a strong {
    color: inherit;
}

