html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.about {
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
    line-height: 1px;
}

.icons {
    display: inline;
    padding: 0px 4px;
}

/*
    Sidebar
*/
.sidebar {
    text-align: center;
    padding: 2rem 1rem;
    color: rgba(255,255,255,.5);
    background-color: #202020;
    position: fixed;
    top: 0;
    left: auto;
    bottom: 0;
    right: 0;
    width: 18rem;
}

.sidebar-p {
    font-weight: 300;
    text-align: left;
}

.sidebar a {
    color: #fff;
}

.sidebar-about h1 {
    color: #fff;
    margin-top: 0;
    font-family: serif;
    font-size: 3.25rem;
}

/* Sidebar nav */
.sidebar-nav {
    margin-bottom: 1rem;
    position: fixed;
    bottom: 0;
    text-align: right;
    right: 3rem;
}

.sidebar-nav-ver {
    font-size: 65%;
}

.sidebar-nav-item {
    display: block;
    line-height: 1.75;
}

a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
    border-left-style: solid;
    border-left-width: 5px;
    text-decoration: none;
}

.sidebar-nav-item-active {
    font-weight: bold;
}

/*
    Portrait

    Author portrait
*/

.portrait {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
