
<nav class="nav">
    <ul >
        <li>
            <a href="{{ root }}/index.html" class="{% if page.url == '/' %}current{% endif %}">Home</a>
        </li>
        <li>
            <a href="{{ root }}/blog.html" class="{% if page.url contains '/blog.html' %}current{% endif %}">Blog</a>
        </li>
        <li>
            <a href="{{root}}/aboutme.html" class="{% if page.url contains '/aboutme' %}current{% endif %}">About me</a>
        </li>
        <li>
            <a href="{{ root }}/webpub.html" class="{% if page.url contains '/webpub.html' %}current{% endif %}">Web publications</a>
        </li>
    </ul>
</nav>