
<nav>
    <ul class="nav">
        <li>
            <a href="index.html" class="{% if page.url == '/' %}current{% endif %}">Domov</a>
        </li>
        <li>
            <a href="blog.html" class="{% if page.url contains '/blog.html' %}current{% endif %}">Blog</a>
        </li>
        <li>
            <a href="blog.html" class="{% if page.url contains '/blog.html' %}current{% endif %}">O mne</a>
        </li>
        <li>
            <a href="blog.html" class="{% if page.url contains '/blog.html' %}current{% endif %}">Webove publikacie</a>
        </li>
    </ul>
</nav>