<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Martin Hoang</title>
        <link href="css/common.css" rel="stylesheet">
        <link href="css/sidebar.css" rel="stylesheet">
        <link href="css/post.css" rel="stylesheet">
        
    </head>
    <body class="background">
        
        <header>
            {% include nav.html %}
        </header>


        {% if page.url == '/' %}
            {% include main-screen.html %}
        {% endif %}
       

        {{content}}

    </body>
</html>