<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% include root.html %}
        <title>{{ page.webname }}</title>
        <link href="{{ root }}/css/common.css" rel="stylesheet">
        <link href="{{ root }}/css/sidebar.css" rel="stylesheet">
        <link href="{{ root }}/css/post.css" rel="stylesheet">
    </head>
    <body class="background" background="{{ root }}/imgs/background.jpg" >
        
        <header >
            {% include nav.html %}
        </header>
        
        {{content}}

    </body>
</html>